{% extends "layout.html" %}
{% block content %}
<br><br>
<h1>
    <br><span>{{name}}'s Expenses Overview<span>
        <div class='btn float-right'>
            <a class="btn btn-primary" href="{{url_for('logout')}}">Logout</a>
        </div>
</h1>
<div>
    <form method="POST" action="" >
        {{ form.hidden_tag() }}
        <div class="form-row">
                <div class="col">
                    {{form.category.label(class="form-control-label")}}
                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.category.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.category(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="col">
                    {{form.description.label(class="form-control-label")}}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.description(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="col">
                    {{form.expense.label(class="form-control-label")}}
                    {% if form.expense.errors %}
                        {{ form.expense(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.expense.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.expense(class="form-control form-control") }}
                    {% endif %}
                </div>
            <div class="col"><br>
                {{form.submit(class="btn btn-secondary mx-5")}}
            </div>
        </div>
    </form>
</div>
    {% if normal %}
        <div>
            <br>
            <img src="{{image}}"/>
        </div>
            <br>
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Expenses</th>
                        <th scope="col">View/ Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x,y,z in item %}
                    <tr>
                        <th scope="row">•</th>
                        <td>{{x}}</td>
                        <td>${{y}}</td>
                        <td><a href="expense/{{z}}">View / Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <div><br>
        <div class='btn-toolbar'>
            <a href="{{url_for('userexpenses')}}">
                <button class="btn btn-secondary">Back</button>
            </a>
    </div>
    {% endif %}
{% endblock content %}